# project specific patterns
emails/
jokematch2/data/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
dist/

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
